@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

body {
  font-family: Calibri, sans-serif;
  opacity: 1;
  background-color: #fff;
}

body header {
  margin-top: 50px;
}

body header .header {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
}
body header .header .logo {
  font-size: 34px;
  font-weight: bold;
}

body .off,
body .layer {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

body .checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}
body .off {
  z-index: 2;
}
body .layer {
  width: 100%;
  transition: 0.3s ease all;
  z-index: 1;
}
body #btn-theme .off:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 4px;
  width: 30px;
  height: 30px;
  color: #fff;
  line-height: 1;
  padding: 9px 4px;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}
body #btn-theme .checkbox:checked + .off:before {
  content: "";
  left: 42px;
  background-color: #fff;
}
body #btn-theme .checkbox:checked ~ .layer {
  background-color: #000000;
}
body #btn-theme .off,
body #btn-theme .off:before,
body #btn-theme .layer {
  transition: 0.3s ease all;
}

body.dark-mode {
  opacity: 1;
  background-color: #000000;
}

header.dark-mode {
  opacity: 1;
  color: #fff;
}

header.dark-mode .logo.dark-mode {
  color: #fff;
}
