html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
  color: #3d4855;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

footer{
  position:fixed;
  bottom:0;
  left: 0;
  padding-left: 30px;
  padding-top: 40px;
  width:100%;
  height: 90px;
  background-color: #F8F8FF;
}

.container {
  padding: 24px 0;
  max-width: 700px;
  width: 100%;
  margin-left: 80px;
  margin-top: 50px;
  margin-bottom: 10px;
}

.card {
  border-radius: 4px;
  box-shadow:  0px 1px 2px 0px #31505f30;
  background: white;
  margin-bottom: 24px;
}

.card-inner {
  padding: 16px 24px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input {
  border-radius: 4px;
  background: transparent;
  border: none;
  width: 100%;
  padding: 14px;
  font-size: 16px;
  border: 1px solid transparent;
  height: 100%;
  display: block;
  outline: none;
}

button {
  background: 	#6495ED;
  padding: 10px 22px;
  border: none;
  color: white;
  border-radius: 4px;
  margin: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.15s;
}

button:hover {
  background: 	#4169E1;
}

button:disabled {
  background: #e8e8e8;
  color: #555;
  box-shadow: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  
}

.list-item {
  padding: 12px 16px 12px 16px;
  border: 1px solid #DCDCDC;
  background: #e8e8e8;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 6px;
  border-radius: 4px;
}

.list-item:first-child {
  border-top: 1px solid #DCDCDC;
}

.list-item-toggle {
  border: 1px solid #A9A9A9;
  border-radius: 999px;
  height: 21px;
  width: 21px;
  margin-right: 16px;
}

.list-item-delete {
  margin-left: auto;
  color: #8B0000;
  margin-top: -2px;
  font-weight: bold;
  text-decoration: none !important;
}

.list-item.completed {
  border: 1px solid 	#4682B4;
}

.list-item.completed span {
  text-decoration: line-through;
}

.list-item.completed .list-item-toggle {
  background: 	#4682B4;
  border: 	#4682B4;
}

@media (max-width: 968px) {
  .container {
	max-width: 700px;
    width: 100%;
  }

}

@media (max-width: 768px) {
   .container {
	   max-width: 500px;
  width: 70%;
  }

}

@media (max-width: 320px) {
   .container {
	   max-width: 300px;
  width: 40%;
  }

}