@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.pop-up-window .container-items .item input, .pop-up-window .container-items .item select, body .block1 .block1__form input {
  width: 300px;
  height: 30px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #808080;
  border-radius: 5px;
  margin-right: 15px;
}

.pop-up-window .container-items .item label, body .block1 p {
  font-size: 1em;
  color: black;
  font-weight: bold;
  padding-bottom: 5px;
  margin-top: 20px;
}

.pop-up-window .container-items .btn_close, .pop-up-window .container-items button, body .block1 .block1__form button {
  width: 30px;
  height: 30px;
  font-size: 25px;
  color: #fff;
  border: 1px solid #6495ED;
  background-color: #6495ED;
  border-radius: 50px;
}

body {
  font-family: sans-serif;
  opacity: 1;
  background-color: #fff;
}
body header {
  margin-top: 50px;
  color: #656565;
}
body header .header {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
}
body header .header .logo {
  margin-left: 200px;
  font-size: 34px;
  color: #656565;
  font-weight: bold;
}
body header .header .theme {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: row;
  right: 100px;
}
body header .header .theme .theme-text {
  padding-right: 15px;
}
body header.dark-mode {
  color: #fff;
}
body header.dark-mode .logo.dark-mode {
  color: #fff;
}

body .button-cover,
body .off,
body .layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
body .button {
  position: relative;
  top: 50%;
  width: 74px;
  height: 36px;
  margin: auto 0 auto;
  overflow: hidden;
}
body .button.r,
body .button.r .layer {
  border-radius: 100px;
}
body .checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}
body .off {
  z-index: 2;
}
body .layer {
  width: 100%;
  background-color: #696969;
  transition: 0.3s ease all;
  z-index: 1;
}
body #btn-theme .off:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 4px;
  width: 30px;
  height: 30px;
  color: #fff;
  line-height: 1;
  padding: 9px 4px;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}
body #btn-theme .checkbox:checked + .off:before {
  content: "";
  left: 42px;
  background-color: #fff;
}
body #btn-theme .checkbox:checked ~ .layer {
  background-color: #C0C0C0;
}
body #btn-theme .off,
body #btn-theme .off:before,
body #btn-theme .layer {
  transition: 0.3s ease all;
}

body.dark-mode {
  opacity: 1;
  background-color: #808588;
}

header.dark-mode {
  opacity: 1;
  color: #fff;
}
header.dark-mode .logo.dark-mode {
  color: #fff;
}

@media (prefers-color-scheme: dark) {
  .card {
    background-color: #DCDCDC;
  }
}
@media (max-width: 968px) {
  .header {
    display: flex;
    flex-direction: column;
  }

  .logo {
    margin-left: 10px;
  }

  .theme {
    position: static;
    margin-left: 100px;
  }
}

.pop-up-window {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 10%;
  z-index: 3;
  display: none;
  position: absolute;
  max-width: 400px;
  height: 250px;
  background-color: #fff;
  border: 1px solid #656565;
  border-radius: 5px;
}
.pop-up-window .container-items {
  margin-left: 20px;
  margin-right: auto;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  justify-content: center;
}
.pop-up-window .container-items .btn_close {
  position: absolute;
  top: -30px;
  right: 5%;
  color: red;
  background: none;
  border: none;
}
.pop-up-window .container-items .item {
  display: flex;
  flex-direction: column;
}
.pop-up-window .container-items button {
  width: 100px;
  height: 40px;
  margin-top: 25px;
  border-radius: 5px;
  margin-left: 20px;
  font-size: 14px;
}
.pop-up-window .container-items button:disabled {
  background: #e8e8e8;
  color: #555;
  box-shadow: none;
}