<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TodoList</title>
    <link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/light.css">
    <link rel="stylesheet" href="css/window.css">
    <script src="https://unpkg.com/vue"></script>
  </head>
  <header id="header" :class="[isActive ? 'header.dark-mode' : '']">
        <div class="header" :class="[isActive ? 'header.dark-mode' : '']">
            <div class="logo">Stefanova</div>
            <div class="theme">
                <div class="button r" id="btn-theme" onclick="changeTheme('dark-mode')">
                    <input type="checkbox" class="checkbox">
                    <div class="off"></div>
                    <div class="layer"></div>
                </div>
            </div>
    </header>
  <body>
  <main>
    <div class="container">
      <div id="app">
		<div class="pop-up-window" id="pop-up">
			<div class="container-items">
				<button class="btn_close" onclick="closeWin('pop-up','header','main')">×</button>
				<div class="item">
					<label for="text">Описание</label>
					<input v-model="newItem" @keyup.enter="addItem" placeholder="Название задачи">
				</div>
				<button @click="addItem" :disabled="newItem.length === 0">Добавить</button>
			</div>
		</div>
        <div class="card">
          <div class="card-inner">
            <h2>Задачи</h2><br>
            <ul class="list">
              <li class="list-item" :class="{completed: item.completed}" v-for="item in reversedItems">
                <div class="list-item-toggle" @click="toggleCompleted(item)"></div><span>{{ item.name }}</span>
                <div class="list-item-delete" @click="removeItem(item)">X</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
	</main>
	<footer>
		<p>Экзаменационная работа по дисциплине "Основы Веб-разработки" Стефановой Дарьи, 191-361</p>
	</footer>
	<script>
        isActive = true;
        function showHide(window, header, main) {
            var obj = document.getElementById(window);
            var header = document.getElementById(header);
            var main = document.getElementById(main);
            if (obj.style.display != "block") {
                obj.style.display = "block";
                header.style.opacity = 0.4;
                main.style.opacity = 0.4;
            }
        }

        function changeTheme(theme) {
            isActive = !isActive;
            document.body.classList.toggle('dark-mode');
            document.header.classList.toggle('dark-mode');
           
        }
    </script>
    <script>
      new Vue( {
        el: '#app',
        data: {
          newItem: '',
          items: [
            {
              id: 1,
              name: 'Сдать экзамен',
              completed: false,
            }
          ],
        },
        computed: {
          reversedItems() {
            return this.items.slice( 0 ).reverse();
          },
        },
        methods: {
          addItem: function () {
            this.items.push( {
              id: this.items.length + 1,
              name: this.newItem,
              completed: false,
            } );
            this.newItem = '';
          },
          toggleCompleted: function ( item ) {
            item.completed = !item.completed;
          },
          removeItem: function ( item ) {
            this.items = this.items.filter( ( newItem ) => newItem.name !== item.name );
          },
        },
      } );
    </script>
  </body>
</html>
